<div id="settings_robo_screenshot">
    <div style="text-align: center; padding-bottom: 20px;">
        <input type="button" name="screenshot_button" value="Take a Screen Shot!" data-bind="click: take_screenshot">
    </div>
    <div id="screenshot_snackbar"><span data-bind="text: robo_server_message"></span></div>
</div>